<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>强流明中转站</title>
</head>
<body>
  <a href={{.title}}><button id="button" >网盘 </button></a>
<h1 >{{.title}}</h1>

<div id="app"></div>
<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script type="text/babel">
    const {useState} = React
    const But =()=>{
    const [ account ,setAccount] =   useState({user:"",pwd:""})
    const func =(v)=>{
    console.log(account)
    fetch("/login",{
    method: 'POST',
    body:JSON.stringify(account) 
})
  }
  const func2 =(v)=>{
    account[v.target.name] = v.target.value
    setAccount(account)
  }
    return (
        <div onChange={func2}>  
            账号:<input type="text" name="user" defaultValue={account.user} ></input>
            密码:<input type="text" name="pwd" defaultValue={account.pwd} ></input>
            <button onClick={func}>Push</button>
        </div>

);
}

const domContainer = document.querySelector('#app');
const root = ReactDOM.createRoot(domContainer);
root.render(<But/>);
</script>

</body>
</html>



<style>
    #button{
        color: #fff;
        border-color: #ffffff;
        background: #4e5fc7;
        text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
        box-shadow: 0 2px #0000000b;
        width: 100px;
        font-size: 16px;

    }
</style>